<!DOCTYPE html>
<html style="position:relative;min-height:100%;">
<head>
  <title>Supportify</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>

<body>
  <div>
    <%= render "/layouts/header" %>
      <div class="container">
          <% if flash[:notice] %>
            <%= flash[:notice] %> 
          <% end %>
          <hr>
          <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    </div>
 
</body>
</html>

<script type="text/javascript">
  $(function() {
   $('.navbar .nav > li > a').click(function(e){
     $('.navbar .nav > li.active').removeClass('active')
     $(this).parent('li').addClass('active')
    });
  });
</script>

<script type="text/javascript">
  $(function() {
    $(".nav a").on("click", function(){
     $(".nav").find(".active").removeClass("active");
     $(this).parent().addClass("active");
    });
  });
</script>


